<!-- <p>counter works!</p> -->

<div class="flex justify-center space-x-4 pt-20 bg-gray-500 h-full">
    <div class="  text-center space-x-4">
        <div id="counter">
            <h1>Counter App</h1>
            <!-- {{count$ | async}} -->
            <!-- single:-  {{this.count()}}
          Double:-  {{this.double()}} -->


            <!-- ngrx signal -->
            single: {{counterStore.count() }}
            double:- {{counterStore.doubleCount()}}
        </div>
        <div class="flex justify-center gap-2"> <button class="button p-1 bg-green-300 w-full h-15"
                (click)="this.counterStore.increment()" id="increment">Increment +
            </button>
            <button class="button p-1 bg-green-300 w-full h-15" (click)="this.counterStore.decrement()"
                id="decrement">Decrement -
            </button>
            <button class="button p-1 bg-green-300 w-full h-15" (click)="this.counterStore.reset()"
                id="reset">Reset</button>
        </div>

    </div>
</div>