<div class="pt-20">

    @if(cartStore.products().length ===0){
    <div>
        <h2>Your cart is empty</h2>
    </div>
    }
    @else{
        <h2>Total Price :- {{cartStore.totalPrice() |currency }}</h2>
    <ul>
       <!-- ngrx state magament state -->
        <!-- @for(item of cartItems$ |async; track $index){ -->
       
            @for(item of cartStore.products(); track $index){
        <li>
            <div class="max-w-sm rounded overflow-hidden shadow-lg">
                <img [src]="item.image" width="400" height="200" [alt]="item.title">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">{{item.title}}</div>
                    <p>Quantity:-{{item.quantity}}</p>
                    <p>Price:-{{item.price}}</p>
                    <p class="text-gray-700 text-base">
                        {{item.description.substring(0,100)}}...
                    </p>
                </div>

                <button type="button" class="btn p-1 bg-gray-400" (click)="cartStore.removeItem(item.id)">Remove</button>
                <button type="button" class="btn p-1 bg-gray-400" (click)="cartStore.incrementItem(item.id)">increment</button>
                <button type="button" class="btn p-1 bg-gray-400" (click)="cartStore.decrementItem(item.id ,item.quantity)">decrement</button>
            </div>
        </li>

        }

    </ul>
    }
</div>