<div class="pt-20">

    @if((cartItems$ | async)?.length ===0){
    <div>
        <h2>Your cart is empty</h2>
    </div>
    }
    @else{
        <h2>Total Price :- {{totalPrice |async |currency }}</h2>
    <ul>
        @for(item of cartItems$ |async; track $index){
        <li>
            <div class="max-w-sm rounded overflow-hidden shadow-lg">
                <img [src]="item.image" width="400" height="200" [alt]="item.title">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">{{item.title}}</div>
                    <p>Quantity:-{{item.quantity}}</p>
                    <p>Price:-{{item.price}}</p>
                    <p class="text-gray-700 text-base">
                        {{item.description.substring(0,100)}}...
                    </p>
                </div>

                <button type="button" class="btn p-1 bg-gray-400" (click)="remove(item.id)">Remove</button>
                <button type="button" class="btn p-1 bg-gray-400" (click)="increment(item.id)">increment</button>
                <button type="button" class="btn p-1 bg-gray-400" (click)="decrement(item.id)">decrement</button>
            </div>
        </li>

        }

    </ul>
    }
</div>